@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.navbar-kontener {
    background-color: rgb(34, 110, 34);
    color: whitesmoke;
    display: flex;
    gap: 7%;
    padding: 10px;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    flex-direction: row;
    list-style-type: none;
    position: fixed;
    justify-content: center;
    z-index: 1000;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-kontener a {
    color: whitesmoke;
    text-decoration: none;
    padding:0;
    /* border-right: 2px solid white; */
    font-weight: bold;
    margin: 0;
    display: inline-block;
}

.navbar-kontener a:last-child {
    border-right:none;
}

.navbar-kontener a:hover{
    background-color: darkgreen;
}

.lang-toggle {
    display: flex;
    gap: 6px;
    align-items: center;
}

.lang-toggle button {
    background: transparent;
    border: 1px solid #e3e3e3;
    color: whitesmoke;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Lilita One", sans-serif;
}

.lang-toggle button.active {
    background: #0f5d0f;
    border-color: #0f5d0f;
}
