@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.shops-kontener{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 16px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shop-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;   /* így nem torzul, és nem lóg ki */
  display: block;
}