@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap");

.shops-kontener{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 16px;
    margin-top: 80px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}

.shop-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;   /* így nem torzul, és nem lóg ki */
  display: block;
}
