.shop-card{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
}

.shop-card img {
    /* margin-top: 20%; */
    /* border-radius: 10px; */
    /* border: 1px solid gray; */
    width: 100%;
    
}

.atfedo {
    position: relative;
    height: 250px;
    margin-top: 2em;
    width: 250px;
}

.shop-kep-kontener {
  width: 300px;       
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;   
  border-radius: 8px;
}

.shop-kep-kontener img {
    max-width: 100%;
  max-height: 100%;
  object-fit: contain;   
  display: block;
}

.meret-kartya {
    
     position: absolute; 
    top: 0px;
    left: 0px;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.8);
    list-style-type: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

      /* width: 100%;       négyzetes doboz – állítható
  position: relative;         fontos az absolute overlay-hez
  overflow: hidden;
  border-radius: 8px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center; */


}



.meret-kartya li {
    margin-bottom: 1em;
}

.kart{
    position: absolute;
    top: 150px;
    right: 10px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    width: 25%;
    height: 25%;
    z-index: 100;
}