<link rel="stylesheet" href="/css/nav.css">
<div id="nav-kontener">
    <li><a href="/api">Főoldal</a></li>
    <li><a href="/api/players-backend">Játékosok</a></li>
    <li><a href="/api/items-backend">Termékek</a></li>
    <li><a href="/api/matches-backend">Meccsek</a></li>
    <li><a href="/api/users-backend">Felhasználók</a></li>
</div>
