<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/users.css"
        />
        <title>Felhasználók</title>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div id="users-kontener">
            <p><a href="/api/new-player">Új játékos felvétele</a></p>
            <h1>Labdarugók</h1>
            <div>
                <% footballers.forEach(elem => { %>
                <p>Név: <%= elem.nev %></p>
                <img
                    src="<%= elem.kep %>"
                    alt=""
                />
                <% }) %>
            </div>
        </div>
    </body>
</html>
