<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/backend/public/css/users.css">
    <title>Felhasználók</title>
</head>
<body>
    <% include('nav.ejs') %>
    <div id="users-kontener">
        <h1>Labdarugók</h1>
        <p><a href="/new-player">Új játékos felvétele</a></p>
    </div>
</body>
</html>