*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td{
margin-top: 5px;
font-size: 30px;
font-family: serif;
}

td select , td input{
    font-size: 30px;
    margin-top: 5px;
}

td button{
    align-items: center;
    margin-top: 10px;
    font-size: 25px;
}