div img{
    height: 250px;
    border-radius: 9px;
}

div p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.player-kontener {
    border: 3px solid black;
    width: 50%;
    padding: 1em;
    margin-bottom: 1em;
}

button{
    background-color: red;
    width: 80px;
    height: 50px;
}